@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

body {
  /* background-image: url("../public/possession\ bg.png"); */
  background-color: var(--background);
  background-size: cover;
  font-family: var(--font-inter);
}

h1 {
  font-size: 9rem;
}

.animated-text-container {
  position: relative;
  width: 100%;
  height: 10rem;
}
.possession-header {
  position: absolute;
  z-index: 2;
  width: 100%;
  font-family: var(--font-inter);
  /* color: #e8af3c; */
  /* mix-blend-mode: screen; */
  letter-spacing: -1rem;
  font-weight: 700;
  margin-top: -4rem;
  opacity: 0.6;
}

.possession-header-2 {
  position: absolute;
  z-index: 1;
  width: 100%;
  font-family: var(--font-inter);
  /* color: #95b6d3; */
  /* mix-blend-mode: screen; */
  letter-spacing: -1rem;
  font-weight: 700;
  margin-top: -4rem;
  opacity: 0.4;
}


.item-input {
  width: 50%;
  margin-top: 6rem;
  position: relative;
}

.item-input-placeholder {
  font-family: var(--font-inconsolata);
}

.nav-link {
  font-family: var(--font-inconsolata);
}

/* .nav-link button:hover {
  background: var(--muted-foreground);
  color: var(--foreground);
} */

.nav-link-active button{
  text-decoration: line-through;  
  font-weight: 700;
}

.welcome-text {
  font-family: var(--font-inconsolata);
}

.item-input-tooltip {
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

}

.item-input-tooltip[data-side='top'] {
  animation-name: slideUp;
}

td {
  font-family: var(--font-inconsolata);
  font-size: 1rem;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.items-main {
  padding: 5% 15%;
}

.locations-grid {
}

.location-col-span-1 {
  grid-column: span 1 / span 1;
}
.location-col-span-2 {
  grid-column: span 2 / span 2;
}
.location-col-span-3 {
  grid-column: span 3 / span 3;
}
.location-col-span-4 {
  grid-column: span 4 / span 4;
}
.location-col-span-6 {
  grid-column: span 6 / span 6;
}

.location-row-span-1 {
  grid-row: span 1 / span 1;
}
.location-row-span-2 {
  grid-row: span 2 / span 2;
}
.location-row-span-3 {
  grid-row: span 3 / span 3;
}
.location-row-span-4 {
  grid-row: span 4 / span 4;
}
.location-row-span-6 {
  grid-row: span 6 / span 6;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}